.log_box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30%;
  height: 80%;

  box-shadow: 0px 4px 40px rgba(116, 124, 153, 0.74);
  border-radius: 20px;

  background-color: #A5BEC3;
  margin: 100px auto;
  padding: 30px;
}
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    gap: 10px;
    border-radius: 20px;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
  
    background-color: #EEEEEE;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
  
    padding-left: 33px;
    border: none;
  }

  .ph_ph {
    gap: 10px !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: 60px !important;
    margin-bottom: 30px !important;
    padding: 16px  !important;
    margin-top: 0 !important;
    
    background-color: #EEEEEE !important;
    font-family: 'Mulish', sans-serif !important;
    font-style: italic !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding-left: 33px !important;
    border: none !important;


  }

  .ph_ph::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  
  .log_btn {
    gap: 10px;
    border-radius: 20px;

    width: 100%;
    height: 60px;

    border: 1px solid #45BDB6;
    background-color: #45BDB6;

    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
  cursor: pointer;
}
  
  .log_btn:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    text-align: center;
  }
  