.Cards{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.Card{
    position: relative;
    width: 440px;
    text-align: center;
    background: orangered;
    border: 2px solid black;
    margin: 30px 0;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px black;
}
.text{
    font-size: 20px;
}
.Card img{
    width: 100%;
    height: 300px;

}
.Nik{
    display: flex;
    align-items: center;
    margin: 20px;
}
.Nik img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.Nik h4{
    font-size: 15px;
}
.made img{
    width: 55px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}