.container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .user_box {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    align-items: center;
  }
  
  .user_box img {
    cursor: pointer;
    border-radius: 50%;
    width: 10em;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .name {
    cursor: pointer;
    border-bottom: 2px black solid;
    margin-bottom: 50px;
  }
  
  .red_box,
  .green_box {
    width: 80%;
    height: 6em;
    color: white;
    border-radius: 20px;
    border: none;
    margin-bottom: 50px;
  }
  
  .red_box {
    background-color: red;
  }
  
  .green_box {
    background-color: green;
  }
  
  .red_box:hover,
  .green_box:hover {
    scale: 0.9;
    transition: 1s;
  }
  
  .red_box:active,
  .green_box:active {
    scale: 1.5;
    transition: 1s;
  }
  
  .card_desk {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  
  .card {
    position: relative;
    width: 440px;
    text-align: center;
    background: orangered;
    border-radius: 20px;
    margin: 30px 0;
    text-decoration: none;
    color: black;
  }
  
  .card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 300px;
  }
  
  .made img {
    width: 55px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .subtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      color: grey;
      margin-left: 200px;
  }
  
  .add_btn {
    width: 190px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;
    margin: 20px 30px;
  }
  
  .add_btn:hover {
    scale: 0.9;
    transition: 1s;
  }
  
  .add_btn:active {
    scale: 1.5;
    transition: 1s;
  }
  
  .modal_content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  
  .modal_content form {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      width: 80%;
      max-width: 600px;
      border-radius: 4px;
  }
  
  .modal_content span {
      cursor: pointer;
  }
  .modal_content input {
      width: 222px;
      height: 50px;
  }
  
  form textarea {
      resize: none;
  }
  