.commentsContainer {
    padding: 20px; 
  }
  
  .commentItem {
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(28, 32, 49);
    box-shadow: 5px 5px 5px  black;

  }
  
  
  .userName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(20, 219, 20);
  }
  
  .commentText {
    font-size: 16px;
    line-height: 1.4;
    color: white;
    font-style: italic;
  }

  .commentForm {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
  }
  
  .commentInput {
    padding: 8px;
    border: 1px solid  rgb(16, 77, 121);
    border-radius: 4px;
    margin-bottom: 10px; 
    background-color: #eef2f5;
    color: #0e1210;
  }

  .commentInput:focus:active{
    border: none;
  }
  
  .commentButton {
    padding: 8px 16px;
    background-color: #26b553;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .commentButton:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .commentInput {
      margin-right: 0; 
    }
  }
  