.footer{
    width: 100vw;
    height: 400px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    animation: fadeIn 1s ease;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    color: #fff;
    margin-right: 10px;
    font-size: 24px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  