.footer{
    width: 100%;
    height: 250px;
    background: gray;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: relative;
    z-index: 2;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    animation: fadeIn 1s ease;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex-basis: 30%;
    margin: 40px 20px 0 20px;
  }
  
  .footer h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    color: #fff;
    margin-right: 10px;
    font-size: 10px;
  }
  
  .footer-bottom {
    margin-top: 50px;
    text-align: center;
  }
  
  @media screen and (max-width: 450px) {
    .footer-container {
      justify-content: center;
      max-width: 100%; /* Adjust the max-width as per your requirements */
    }
  
    .footer-column {
      flex-basis: 100%;
      margin: 40px 0;
    }
    .footer-bottom {
      margin-top: 0px;
      text-align: center;
    }
}