.container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    justify-content: space-between;
    margin-top: 60px;
}

.user_box {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    align-items: center;
}

.user_box img {
    cursor: pointer;
    border-radius: 50%;
    width: 10em;
    margin-bottom: 50px;
}

.name {
    cursor: pointer;
    border-bottom: 2px black solid;    
    margin-bottom: 50px;
}

.red_box {
    width: 80%;
    height: 6em;
    color: white;
    background-color: red;
    border-radius: 20px;
    border: none;
    margin-bottom: 50px;
}

.red_box:hover {
    scale: 0.9;
    transition: 1s;
}

.red_box:active {
    scale: 1.5;
    transition: 1s;
}

.green_box {
    width: 80%;
    height: 6em;
    color: white;
    background-color: green;
    border-radius: 20px;
    border: none;
    margin-bottom: 50px; 
}

.green_box:hover {
    scale: 0.9;
    transition: 1s;
}

.green_box:active {
    scale: 1.5;
    transition: 1s;
}

.card_desk {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.add_btn {
    width: 190px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
}

.add_btn:hover {
    scale: 0.9;
    transition: 1s;
}
.add_btn:active {
    scale: 1.5;
    transition: 1s;
}


.modal_content form{
    display: flex;
    flex-direction: column;
}

.modal_content span {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.modal_content input {
    width: 222px;
    height: 50px;
}

form textarea {
    resize: none;

}

.card {
    position: relative;
    width: 440px;
    text-align: center;
    background: orangered;
    border-radius: 20px;
    margin: 30px 0;
    text-decoration: none;
    color: black;
}

.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 300px;

}
.made img {
    width: 55px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}