.container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    justify-content: space-between;
    margin-top: 60px;
}

.user_box {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    align-items: center;
}

.user_box img {
    cursor: pointer;
    border-radius: 50%;
    width: 10em;
    margin-bottom: 50px;
}

.name {
    cursor: pointer;
    border-bottom: 2px black solid;    
    margin-bottom: 50px;
}

.red_box {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px black solid;
    border-radius: 20px;
    width: 80%;
    height: 6em;
    margin-bottom: 50px;
}

.red_box:hover {
    scale: 0.9;
    transition: 1s;
}

.red_box:active {
    scale: 1.5;
    transition: 1s;
}

.red_circle {
    width: 20%;
    height: 50%;
    background-color: red;
    border-radius: 50%;
}

.green_box {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px black solid;
    border-radius: 20px;
    width: 80%;
    height: 6em;
    margin-bottom: 50px; 
}

.green_box:hover {
    scale: 0.9;
    transition: 1s;
}

.green_box:active {
    scale: 1.5;
    transition: 1s;
}

.green_circle {
    width: 20%;
    height: 50%;
    background-color: green;
    border-radius: 50%;
}

.card_desk {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add_btn {
    cursor: pointer;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;
    width: 190px;
    height: 50px;
    margin: 0 auto;
}

.add_btn:hover {
    scale: 0.9;
    transition: 1s;
}
.add_btn:active {
    scale: 1.5;
    transition: 1s;
}