*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
button {
    cursor: pointer;
}
.users{
    display: flex;
}
main .container{
    padding: 20px;
}