.containerDetail {
  width: 100%;
  display: flex;
}

.Details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Details .left,
.Details .right {
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.left img {
  width: 95%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.ContentDetails {
  padding: 5vw;
  padding-top: 10px;
}

.Black {
  position: fixed;
  top: 50vh;
  left: 2px;
  z-index: 2;
}

.Black button {
  border-radius: 5px;
  box-shadow: 3px 3px 2px black;
  width: 60px;
  height: 60px;
  background: url("../../Galilee/back.jpg");
  background-position: center center;
  background-size: cover;
}

.box_comment {
  background-color: rgb(16, 77, 121);
  box-shadow: 5px 5px 5px 5px black;
  width: 100%;
}

.title_comment {
  color: white;
  padding: 10px;
  text-align: center;
  font-style: oblique;
}
@media (min-width: 1105px) {
  .Details .left,
  .Details .right {
    width: 60%;
    padding-top: 10px;
  }
}



@media (min-width: 1200px) {
  .containerDetail {
    margin-top: 30px;
  }

  .ContentDetails {
    padding: 3vw;
  }

  .Black button {
    width: 80px;
    height: 80px;
  }

  .box_comment {
    padding: 10px;
  }

  .title_comment {
    padding: 15px;
  }
}