.Details{
    display: flex;
    justify-content: space-between;
}
.Details .left, .right {
    width: 45%;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.ContentDetails{
    /* background-color: orangered; */
    padding: 5vw;
}
.Black{
    position: fixed;
    top: 50vh;
    left: 2px;
    z-index: 2;
}
.Black button{
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
    width: 60px;
    height: 60px;
    background: url("../../Galilee/back.jpg");
    background-position: center center;
    background-size: cover;
}